html {
  background-color: azure;
}
h1 {
  font-size: 26px;
  font-style: bold;
  font-family: Verdana;
  text-transform: capitalize;
}
h2 {
  font-size: 26px;
  font-style: bold;
  font-family: Verdana;
  text-transform: capitalize;
}
p {
  text-indent: 10px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
a {
  font-size: 20px;
  text-indent: 10px;
  align-self: center;
}
hr {
  height: 3px;       
  background: black; 
  border: none;    
  width: 100%;        
}
iframe {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 400px;
}
img {
  width:500px;
  height:400px;
  text-align: center;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 50%;
}
.box {
  width: 80%;   
  height: 1800px;
  border: 2px solid black; 
  padding: 20px;
  margin: 20px auto;
  background-color: #f9f9f9; 
  border-radius: 20px;
}
